$text-weight-utils: (
  'weight-400': 400,
  'weight-500': 500,
  'weight-600': 600,
  'weight-700': 700,
  'weight-800': 800,
);

@each $key, $val in $text-weight-utils {
  .u-text-#{$key} {
    font-weight: $val;
  }
}

$text-color-utils: (
  'grey-15': $color-grey-15,
  'grey-55': $color-grey-55,
  'grey-75': $color-grey-75,
  'additional-blue-6': $color-additional-blue-6,
  'additional-red-5': $color-additional-red-5,
  'additional-red-6': $color-additional-red-6,
);
@each $key, $val in $text-color-utils {
  .u-text-#{$key} {
    color: $val;
  }
}

$text-position-utils: (
  'center': center,
  'right': right,
  'left': left,
);
@each $key, $val in $text-position-utils {
  .u-text-#{$key} {
    text-align: $val;
  }
}

$text-size-utils: (
  '12': 12px,
  '14': 14px,
  '16': 16px,
);
@each $key, $val in $text-size-utils {
  .u-text-#{$key} {
    font-size: $val;
  }
}
