$color-grey-100: #fff;
$color-grey-98: #fafafa;
$color-grey-96: #f5f5f5;
$color-grey-94: #f0f0f0;
$color-grey-92: #ebebeb;
$color-grey-85: #d9d9d9;
$color-grey-75: #bfbfbf;
$color-grey-55: #8c8c8c;
$color-grey-35: #595959;
$color-grey-26: #434343;
$color-grey-15: #262626;
$color-grey-12: #1f1f1f;
$color-grey-8: #141414;
$color-grey-0: #000;

$color-additional-blue-1: #e6f7ff;
$color-additional-blue-2: #bae7ff;
$color-additional-blue-3: #91d5ff;
$color-additional-blue-4: #69c0ff;
$color-additional-blue-5: #40a9ff;
$color-additional-blue-6: #1890ff;
$color-additional-blue-7: #096dd9;
$color-additional-blue-8: #0050b3;
$color-additional-blue-9: #003a8c;
$color-additional-blue-10: #002766;

$color-additional-red-1: #fff1f0;
$color-additional-red-2: #ffccc7;
$color-additional-red-3: #ffa39e;
$color-additional-red-4: #ff7875;
$color-additional-red-5: #ff4d4f;
$color-additional-red-6: #f5222d;
$color-additional-red-7: #cf1322;
$color-additional-red-8: #a8071a;
$color-additional-red-9: #820014;
$color-additional-red-10: #5c0011;

$color-primary-1: #f0fcff;
$color-primary-2: #d6f5ff;
$color-primary-3: #ade9ff;
$color-primary-4: #85daff;
$color-primary-5: #5cc9ff;
$color-primary-6: #31aaf1;
$color-primary-7: #1f87cc;
$color-primary-8: #1165a6;
$color-primary-9: #064780;
$color-primary-10: #042e59;

$color-green-7: #389e0d;
