.container {
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;

  @supports (padding: env(safe-area-inset-left)) {
    padding-left: calc(32px + env(safe-area-inset-left));
    padding-right: calc(32px + env(safe-area-inset-right));
  }

  @supports (padding: constant(safe-area-inset-left)) {
    padding-left: calc(32px + constant(safe-area-inset-left));
    padding-right: calc(32px + constant(safe-area-inset-right));
  }
}

.container-tight {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 30rem;
}
